<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bank-Teller</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TransactionController</display-name>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>in.bank.controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <url-pattern>/TransactionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TellerController</display-name>
    <servlet-name>TellerController</servlet-name>
    <servlet-class>in.bank.controller.TellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TellerController</servlet-name>
    <url-pattern>/TellerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>in.bank.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PDFController</display-name>
    <servlet-name>PDFController</servlet-name>
    <servlet-class>in.bank.controller.PDFController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFController</servlet-name>
    <url-pattern>/PDFController</url-pattern>
  </servlet-mapping>
</web-app>